django==4.2.0
djangorestframework==3.14.0
torch==2.0.1
transformers==4.30.2
spacy==3.6.1
textstat==0.7.3
nltk==3.8.1
textblob==0.17.1
scikit-learn==1.6.1  
joblib==1.5.1        
emoji==2.6.0
pandas==2.0.2        
numpy==2.0.2      